<!--
  Generated template for the Balance page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  
  <ion-navbar hideBackButton color="nmbgrey2">
    <ion-buttons left>
		<button ion-button navPop icon-only>
			<ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
		
		</button>
	</ion-buttons>
    <ion-title>Check Balance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view2" style="display:flex;align-items:center">

<div >
    <ion-list >
	    
		
		<ion-item style="font-size:12px">
		    <ion-icon name="briefcase" item-left color="nmbblue" ></ion-icon>
			<ion-label color="nmbblue">Select account</ion-label>
				<ion-select color="nmbblue" interface="action-sheet" [(ngModel)]="objectblock.account" style="max-width:auto;min-width:60%;text-align:right">
              <ion-option value="FLEXI">2557041110586</ion-option>
              <ion-option value="3M FLEXI">0112233444</ion-option>
              <ion-option value="MCU1">01114446667</ion-option>
              <ion-option value="MCU2">01114446667</ion-option>
              
            </ion-select>
		</ion-item>
        <ion-item *ngIf="!responded" no-lines>
        </ion-item>
		<ion-card *ngIf="responded" style="margin-top:60px">
		    <ion-card-header>
				{{datetime}}
			</ion-card-header>

			<ion-card-content text-center style="font-size:12px">
				Actual Balance: <span style="color:#F26A1B">{{currency}}.</span><span style="color:#0257A7;font-size:17px;font-weight:bold">{{actualBalance}}</span>
				<br>
				Available Balance: <span style="color:#F26A1B">{{currency}}.</span><span style="color:#0257A7;font-size:17px;font-weight:bold">{{availableBalance}}</span>
			</ion-card-content>

		</ion-card>
		
		
    </ion-list>
</div>
</ion-content>
<ion-footer no-border style="margin:0px;padding:0px;min-height:50px">
   <ion-navbar style="margin:0px;padding:0px;min-height:50px"> 
       <button ion-button full color="nmbblue" (click)="openModal()" style="margin:0px;font-size:13px;height:50px" text-capitalize icon-left>
		Submit<ion-spinner name="dots" color="light"></ion-spinner></button>
   </ion-navbar>
</ion-footer> 
